
.wrapper-B{
    display: flex;
    flex-direction: row-reverse;

    width: 100vw;
    height: 909px;

}


.Design-page{
    padding: 160px 165px;
}

.img{
    padding: 100px 165px;

}

.content-two{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: space-between;

    padding: 70px 165px;

}

.top-section-two{
    display: flex;
    gap: 30px;

    
}

.bottom-section-two{
    display: flex;
    gap: 30px;
}

.section-two .title-B{
    color: #091133;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.Design-page.p{
    color: #6F7CB2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
   
}

.section-B .title{
    color: #091133;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0px;
    margin-bottom: 8px;
}

.section-B.p{
    color: #5D6970;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}