
.wrapper-B{
    display: flex;
    flex-direction: row-reverse;

    width: 100vw;
    height: 909px;

    justify-content: space-between;

}


.Design-page{
    padding-top: 160px;
    padding-left: 165px;
    padding-right: auto;
}

.img{
    padding-top: 100px;
    padding-right: 165px;
    padding-left: Auto;

}

.content-two{
    display: flex;
    flex-direction: column;
    gap: 30px;

    

    padding-top: 70px;
    padding-left: 165px;
    padding-right: Auto;
}

.top-section-two{
    display: flex;
    gap: 30px;

    
}

.bottom-section-two{
    display: flex;
    gap: 30px;
}

.title-B{
    color: #091133;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.lorem{
    color: #6F7CB2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
   
}

.title{
    color: #091133;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0px;
    margin-bottom:8px;
}
